<!DOCTYPE html>

<html>

<html lang="fr">

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
  <link rel="stylesheet" href="/css/tic-tac-toe.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>
</head>

<body>
  <div class="gameContent">
    <h1>Tic-Tac-Toe</h1>
    <h2> Player <span id="player">X</span>'s turn</h2>
    <table align="center">
      <tr>
        <td>
          <div class="box"></div>
        </td>
        <td>
          <div class="box"></div>
        </td>
        <td>
          <div class="box"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="box"></div>
        </td>
        <td>
          <div class="box"></div>
        </td>
        <td>
          <div class="box"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="box"></div>
        </td>
        <td>
          <div class="box"></div>
        </td>
        <td>
          <div class="box"></div>
        </td>
      </tr>
    </table>
    <h2 id="message">Player <span id="winner"></span> wins !</h2>
  </div>
  <button id="reset">Reset</button>
  <script src="/js/tic-tac-toe.js"></script>
</body>

</html>